*
!*.*
!*/
!Makefile
!TODO
*.d
*.o
*.a
*.so
data/
video/
vg/
mcc_*.c
trace/
*.mcc.c
TRACE.mpits
set-0/
callgrind.out.*
vgcore.*
*.test
*.bin
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
log/
extrae/function.*
